* {
  font-family: "Michroma", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.customcontainer {
  max-width: 100%;
  height: 600px;
  background-image: linear-gradient(to right,
  rgba(10, 10, 10, 0.814),
  rgba(115, 115, 115, 0.200),
  rgba(115, 115, 115, 0.200),
  rgba(255, 255, 255, 0.100),
  rgba(0, 0, 0, 0.1),
   rgba(0, 0, 0, 0.65)), url(../img/bg.jpg);  
 
  display: grid;
  place-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  
}

.customcontainer img {     
  margin-bottom: 150px;
  filter: contrast(150%) brightness(150%);
  

}

.customcontainer h1 {
  font-size: 70px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-top: 50px;
}

.customcontainer p {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.nothing {
  background-color: black;
  height: 80px;
  width: 100%;
}

.whoweare {
  background-image: linear-gradient(to right,
  rgba(10, 10, 10, 0),
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.1),
   rgba(0, 0, 0, 0.1)), url(../img/habitacion.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
}

.whoweare h2 {
  font-size: 40px;
  padding-top: 30px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}

.whowearep {
  margin-top: 15px;
}

.whowearep p {
  font-size: 16px;
  font-weight: bold;
  padding: 80px;
  color: white;
}

/* SERVICIOS =============================================================================================*/

.servicios {
  display: block;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/bw.jpg);
}

.servicios h3 {
  font-size: 40px;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 50px;
}

/* SWIPER============================================================================================= */

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper .swiper-button-prev{

  --swiper-navigation-size: 18px;
  background-color: white;
  height: 50px;
  width: 40px;
  border-radius: 0 70px 70px 0;
  left: 0px;
  color: black;
  opacity: 0.5;

}

.swiper .swiper-button-next{

  --swiper-navigation-size: 18px;
  background-color: white;
  height: 50px;
  width: 40px;
  border-radius: 70px 0 0 70px;
  right: 0px;
  color: black;
  opacity: 0.5;

}


.swiper .swiper-pagination {
  --swiper-pagination-color: rgb(0, 0, 0);
  --swiper-pagination-bullet-size: 6px;  
  --swiper-pagination-bullet-inactive-color: #000000;
  --swiper-pagination-bullet-inactive-opacity: 0.6;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}






/* FOOTER======================================================================================================= */

.footer {
  max-width: 100%;
  height: 100%;
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  justify-content: center;
}

.footer h5 {
  padding-top: 25px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 40px;
}

.customicon {
  display: block;
  justify-content: center;

  text-align: center;
  max-width: 100%;
}

.customicon i {
  font-size: 40px;
}

.customicon a {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.direccion {
  display: flex;
  justify-content: center;
}

.direccion p {
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 15px;
}

.imgfooter {
  display: grid;
  place-items: center;
  padding-top: 60px;
}
.imgfooter img {
  margin-bottom: 150px;
  margin-bottom: 150px;
  filter: contrast(150%) brightness(150%);
}

.derechos {
  display: flex;
  justify-content: center;
}

.derechos p {
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 15px;
}







/* ===============CUSTOMIZE SCROLLBAR================ */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#bb0000, #ff0000, #f2ff00fc, #cbd600);
  border-radius: 10px;
}